{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'app_home/css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'app_home/css/colaborador.css' %}" />
    <link rel="icon" href="{% static 'app_home/img/favicon.ico' %}" type="image/x-icon">

</head>
    
<body>
    
    {% include "app_home/components/header.html" %}

    {% block content %}{% endblock content %}

    {% include "app_home/components/footer.html" %}


    <!-- <p>Current user: {% if user.is_anonymous %}AnonymousUser{% else %}{{ user.username }}{% endif %}</p>
    <p>Is authenticated: {{ user.is_authenticated }}</p>
    <p>Is superuser: {{ user.is_superuser }}</p>
    <p>Is staff: {{ user.is_staff }}</p>
    <p>Is active: {{ user.is_active }}</p>

    {% if authorized %}
        voce está autorizado
    {% else %}
        voce não está autorizado
    {% endif %} -->
</body>
</html>
