
{% extends "app_home/global/index.html" %}

{% block title %}Colaborador{% endblock title %}

{% block content %}

    <section class="conteudo">
        <div class="quadro">
            <p>Relatórios</p>
            <input type="text" placeholder="Pesquisar um nome:" style="width: 200px;"/>
            <div class="tabelaPesquisa">
                <fieldset>
                    <p>Nome:</p>
                    <p>1. Perazza</p>
                    <p>1. GV</p>
                </fieldset>
                <fieldset>
                    <p>Data:</p>
                </fieldset>
                <fieldset>
                    <p>Equipamento:</p>
                </fieldset>
            </div>
        </div>
    </section>

{% endblock content %}
