{% extends "app_home/global/index.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
    <section class="conteudo">
        <div class="telas">
            <a style="color: blue;" href="{% url 'view_emprestimos' %}">Emprestimos Ativos</a>
            <a style="color: blue;" href="{% url 'view_emprestimos_criar' %}">Registrar Emprestimo</a>
            <a style="color: blue;" href="{% url 'view_itens' %}">Itens</a>
            <a style="color: blue;" href="{% url 'view_usuarios' %}">Colaborador</a>
        </div>
    </section>

{% endblock content %}
