{% extends "app_home/global/index.html" %}

{% block title %}Meu Carrinho{% endblock title %} {% block content %}
<main>
    <h1>Meu Carrinho</h1>
    {% for pizza in pizzas %}
        <li>
            <span>{{ pizza.nome }} - R${{ pizza.preco }} - {{ pizza.descricao }} | <a href="{% url 'deletar_pizza_carrinho' pizza.id %}">Remover Pizza</a></span> {% comment "" %}{% endcomment %}
        </div>
        </li>
    {% empty %}
        <p>Seu carrinho está vazio.</p>
    {% endfor %}
    <div class="total-price">
        <h2>Total: R$ {{ total_price }}</h2>
    </div>
    <div class="checkout-button">
        <a href="#" class="btn btn-primary">Finalizar Compra</a> {% comment "" %}{% url 'finalizar_compra' %}{% endcomment %}
    </div>
    <div class="continue-shopping-button">
        <a href="{% url 'home' %}" class="btn btn-secondary">Continuar Comprando</a>
    </div>
    <div class="clear-cart-button">
        <a href="{% url 'limpar_carrinho' %}" class="btn btn-danger">Limpar Carrinho</a>
    </div>
</main>
{% endblock content %}
