@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


*/
* {
    margin: 0;
    padding: 0;
}

:root {
    --fonte-primaria: 'Rubik', sans-serif;
    --fonte-dois: 'Rubik Doodle Shadow', cursive;

}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--fonte-primaria);
    background-image: url('../img/background.png');
    background-size: 1920px 1080px; 
    background-position: center center;  
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

.conteudo {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.cabecalhoHome div {

    background-color: #403666;
    color: #ffffff;
    font-family: var(--fonte-primaria);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 28px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}

.telas {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 10px 10px 10px;
    gap: 20px; 
    text-decoration: none;
    backdrop-filter: blur(10px);
    border-radius: 10px;
    width: 7.5%;
}

.telas a {
    font-family: var(--fonte-primaria);
    color: #ffffff;
    text-decoration: none;
}

.telas a:hover {
    color: yellow;  
    transition: background-color 0.3s ease, color 0.3s ease;
}

.footer {
    padding: 10px;
    text-align: center;
    font-family: var(--fonte-primaria);
    color: rgb(255, 255, 255);
}


.ggpTitle {
    font-family: var(--fonte-dois);
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
}

.ggpNavUserName {
    font-family: var(--fonte-primaria);
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}